<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Approach">
  <test thread-count="5" name="testLogin">
    <classes>
            <class name="com.appliedselenium.testscripts.CheckLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
